<!DOCTYPE html>

{% extends "base.html" %}
{% block title %}Index{% endblock title %}
{% block header %}Tride Support System (TSS){% endblock header %}
{% block content%}  
    <h2>MODELS</h2>
    <ul> В этом разделе хочется смоделировать поведение рынка </ul>
    <ul> Возможность выбора торговой пары </ul>
    <ul> Выбираем диапазон цен в которых будет моделироваться рынок </ul>
    <ul> Расставляем моделируемые ордера </ul>
    <ul> Выбираем продолжительность временного периода моделирования </ul>
    <ul> Запускаем модельки, смотрим отчёты </ul>
{% endblock content %}
